smtp max-message-size 100M

pki smtpd cert "/etc/smtpd/fullchain.pem"
pki smtpd key "/etc/smtpd/privkey.pem"

listen on localhost
listen on localhost port 10028 tag DKIM

listen on eth0 tls pki smtpd auth-optional
listen on eth0 smtps pki smtpd auth-optional

table aliases		"/etc/smtpd/aliases"
table localdomains	"/etc/smtpd/localdomains"
table virtualdomains	"/etc/smtpd/virtualdomains"
table virtualusers	"/etc/smtpd/virtualusers"
table secrets		"/etc/smtpd/secrets"

#filter filter-pause pause
#filter filter-dnsbl-sorbs dnsbl
#filter filter-dnsbl-spamcop dnsbl "-h bl.spamcop.net"
#filter filter-dnsbl-spamhaus dnsbl "-h sbl-xbl.spamhaus.org"
#filter filter-spamassassin spamassassin "-s reject"
#filter all chain filter-pause filter-dnsbl-sorbs filter-dnsbl-spamcop filter-dnsbl-spamhaus filter-spamassassin

action send relay
#action send relay via smtps+auth://secret_id@hostname:465 auth <secrets>
action send_with_dkim relay host smtp://127.0.0.1:10027

action receive maildir "/var/mail/%{dest.user}" alias <aliases> 
action receive_virtual maildir "/var/mail/%{dest.user}" virtual <virtualusers> 

match from local for local action receive
match from any for domain <localdomains> action receive
match from any for domain <virtualdomains> action receive_virtual

match tag DKIM for any action send
match from local for any action send_with_dkim


